@font-face {
   font-family: Nunito;
   src: url(nunito/Nunito-SemiBold.ttf);
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Nunito;
   scroll-behavior: smooth;
}
html, body{
   height: 100%;
   background-color: #98D8EF;
   display: flex;
   flex-direction: column;
}
.base-container{
   max-width: 1000px;
   margin: 0 auto;
   flex: 1;
}
.section-container{
   background-color: #F5EFE7;
   padding: 20px 15%;
   border-radius: 10px;
   margin-bottom: 20px;
}
.section-container h3{
   font-size: 20px;
   margin-bottom: 20px;
}
.description-container{
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-bottom: 20px
}
.description-list{
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-left: 20px;
}