@font-face {
   font-family: Nunito;
   src: url(nunito/Nunito-SemiBold.ttf);
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Nunito;
   scroll-behavior: smooth;
}
body{
   background-color: #D8C4B6;
}
.base-container{
   max-width: 1000px;
   margin: 0 auto;
}