<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://kit.fontawesome.com/7006f68f03.js" crossorigin="anonymous"></script>
   <title>SEO Analyzer</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
</head>
<body>
   <div class="base-container">
      {% include "header.html" %}

      {% block content %}
      {% endblock content %}
      
      <section class="section-container">
         <h1>SEO Analyzer</h1>
         <div class="description-container">
            <p>SEO Analyzer is a tool that helps you analyze your website and gives you a score based on the SEO best practices.</p>
            <hr>
            <h2>What is SEO?</h2>
            <p>SEO stands for Search Engine Optimization. It is the process of optimizing your website to get organic traffic from search engines like Google, Bing, Yahoo, etc.</p>
            <hr>
            <h3>Features:</h3>
            <ul class="description-list">
               <li>Basic SEO checks (title, meta description, headers, etc.)</li>
               <li>Keyword rank checking (Google search position)</li>
               <li>SEO score calculation (on-page SEO, keyword ranking, technical SEO)</li>
               <li>Personalized SEO suggestions based on best practices</li>
            </ul>
            <hr>
            <h3>Usages:</h3>
            <ul class="description-list">
               <li>Enter the URL of the website you want to analyze</li>
               <li>Click on the "Analyze" button</li>
               <li>Get the SEO score and personalized suggestions</li>
            </ul>
         </div>
      </section>
   </div>

   {% include "footer.html" %}

</body>
</html>